//default values
$bgColor: #ffffff;
$primaryTextColor: #333333;
$labelColor: #333333;
$linkHoverColor: #1D1347;
$primaryButtonColor: #4C4C4C;
$borderColor: #CCCCCC;
$discountColor: #A6A6A6;
$inputBg: #F5F5F5;
$tabButtonsColor: #E6E6E6;

//colors
$white: #ffffff;
$red: #ff0000;
$black: #000000;
$violet: #1D1347;
$lightGrey: #808080;
$green: #00C72C;